/*adaptation*/
@media (max-width: 1030px) {
	.menu{
		width:  50%;
	}
	.wowItsMyPhoto{
		margin-left: -80px;
	}

	.wowItsMyPhoto:hover .part1, .wowItsMyPhoto:hover .part2{
		margin: 120px 0px;
	}
	.wowItsMyPhoto:hover .part2{
		margin: 180px 30px;
	}
	.descriptionOfMe{
		font-size: 2em;
	}
	.sliders{
		margin: 50px 0 180px 50px;
	}
	.firstValueSlider{
		display: none;
	}
	.lastValueSlider{
		display: none;
	}
	.nameOfSkill{
		width: 30%;

		position: absolute;
		top: 0%;
		left: 110%;
	}
	.percentageOfStudy{
		position: absolute;
		top: 0%;
		left: 140%;
	}
	.josukeWithLap{
		position: absolute;
		margin: -45% 0 0 70%;
	}
}
@media (max-width: 950px) {
	.part1, .part2{
		margin: 150px 20px;
	}
	.wowItsMyPhoto:hover .part1, .wowItsMyPhoto:hover .part2{
		margin: 120px 80px;
	}
	.wowItsMyPhoto:hover .part2{
		margin: 180px 110px;
	}
}
@media (max-width: 850px) {
	.menu{
		width:  60%;
	}
	.part1, .part2{
		margin: 150px 0px;
	}
	.wowItsMyPhoto:hover .part1, .wowItsMyPhoto:hover .part2{
		margin: 120px 5px;
	}
	.wowItsMyPhoto:hover .part2{
		margin: 180px 35px;
	}
	.descriptionOfMe{
		width: 90%;
		margin: 250px 0 0 10px;
	}
	.mySkills{
		margin: 250px auto 100px;
	}
	.sliders{
		margin: 50px 0 180px 25px;
	}
	.slider{
		pointer-events: none;
	}
	.nameOfSkill{
		width: 30%;

		position: absolute;
		top: 0%;
		left: 110%;
	}
	.percentageOfStudy{
		position: absolute;
		top: 0%;
		left: 190%;
	}
	.josukeWithLap{
		position: absolute;
		margin: -30% 0 0 20%;
	}
	.fullDescription{
	 	width: 90%;
		margin: 500px auto 400px ;
	}
	.zeus{
		margin: -185% auto 0;
	}
	.responsibility{
		width: 65%;
	}
	.toUp{
		top: 80%;
		left: 70%;
}
@media (max-width: 480px) {
	.menuAdap{
		display: flex;
	}
}
