html{
	background-color: #000;

	margin: 0 ;
	padding: 0 ;

	overflow: hidden ;
}
body{
	color: #fff;

	font-family: consolas;

	opacity: 0 ;

	transition: all 1s linear ;

	display: flex;
}
.menu{
	position: absolute;
	margin-top: 15px;

	width:  40%;
	height: 50px;

	font-size: 1.5em;

	display: flex;
	justify-content: space-evenly;
	align-content: center ;
}
.menu :nth-child(3){
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 20%;
}
.menuAdap{
	display: none;
}
.language{
	position: absolute;
	margin: 15px 0 0 80%;

	user-select: none;
	-webkit-user-select: none;
}
.menu div, .language{
	padding: 10px 15px 10px;

	cursor: pointer;

	transition: all .5s linear ;

	border-radius: 60px;
}
.cross{
	display: none;
}
.containerVk, .containerMail{
	position: absolute;

	width: 25%;
	height: 50%;

	font-size: 2em;
}
.containerVk{
	margin: 20% 0% 0% 3%;
}
.containerMail{
	margin: 20% 0% 0% 78%;
}
.vk, .mail{
	cursor: pointer;
}
.writeVk, .writeMail, .vk, .mail{
	transition: all .3s ease ;
}
.gifGB{
	width: 50%;
	margin: 85px auto;
}
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: black;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 6px;
}